# Byte-compiled / optimized / DLL files
__pycache__
*.pyc

# Distribution / packaging
build
dist
*.egg-info

# dotenv
.env

# Release skill working files
release-*.md*

# Sphinx documentation
docs/_build/

# Tox
.tox
